# Environment files
.env
.env.local
.env.dev
.env.prod
env/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
venv/

# Node/React
webui/node_modules/
webui/dist/
webui/.vite/
webui/package-lock.json
webui/src-tauri/target/
webui/src-tauri/bin/

# OS/IDE
.DS_Store
.idea/
.vscode/

# Misc
webui/EndpointsStructure.txt
user_data/
